@using Resources = TetraTech.TTProjetPlus.Views.TTProjet
@using LitigeResources = TetraTech.TTProjetPlus.Views.Litige
@using Resources2 = TetraTech.TTProjetPlus.Views.FolderStructure 
@model TetraTech.TTProjetPlus.Models.LitigeModel


@*<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>*@
<script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/select/1.3.4/js/dataTables.select.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/datetime/1.1.2/js/dataTables.dateTime.min.js"></script>
<script type="text/javascript" src="https://editor.datatables.net/extensions/Editor/js/dataTables.editor.min.js"></script>
<link href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" rel="stylesheet" media="screen">
<link href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css" rel="stylesheet" media="screen">
<link href="https://cdn.datatables.net/select/1.3.4/css/select.dataTables.min.css" rel="stylesheet" media="screen">
<link href="https://cdn.datatables.net/datetime/1.1.2/css/dataTables.dateTime.min.css" rel="stylesheet" media="screen">
<link href="https://editor.datatables.net/extensions/Editor/css/editor.dataTables.min.css" rel="stylesheet" media="screen">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
@{
    ViewBag.Title = "Projets en litige";
}<div id="loading">
    <img id="loadingGIF2" src="~/Content/assets/img/ajax-loader.gif" alt="Loading..." />
</div>

<div class="container " style="height: 200vh;width: 100%;">
    <div class="main">


        @if (ViewBag.MenuVisible == "true")
        {
            <div class="row">
                <div class="row">
                    <div class="col-lg-4" style="padding-top: -49px;">
                        <div class="panel" style="border-radius: 10px; margin-left: -10px; height: 140px;">
                            <div class="panel-body">
                                <ul class="list-inline">
                                    <li><a style=" color:#183666;" href="@Url.Action("Index", "TTProjet" )">TT Projet +  /</a></li>
                                    <li><a style="color:#183666; font-weight: bold" href="@Url.Action("Index", "TTProjet", new { selectedPanel = "collapse8" })">@Resources.TTProjet.TITools</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="">
                            <div class="panel" style="border-radius: 10px; margin-left: -10px; height: 140px; ">
                                <div class="panel-body">
                                    <ul class="list-inline">
                                        <li>
                                            &bull;&nbsp;<a style="color: #183666" href="@Url.Action("IndexActiverProjet", "TTProjet")">@Resources.TTProjet.ActiverProjet</a>
                                        </li>
                                        <br>
                                        <li>
                                            &bull;&nbsp;<a style="color:#183666  " href="@Url.Action("IndexAdmin", "Admin")">@Resources.TTProjet.cancelProjectClosing</a>
                                        </li>
                                        <br>
                                        <li>
                                            &bull;&nbsp;<a style="color: #183666" href="@Url.Action("Index2", "FolderStructure")">@Resources2.FoldStructRessource.ChangeServer  </a>
                                        </li>
                                        <br>
                                        <li>
                                            &bull;&nbsp;<a style="color:#183666 " href="@Url.Action("Index", "SecurityProjectEquivalence")">@Resources.TTProjet.ProjectEquivalence</a>
                                        </li>
                                        <br>
                                        <li>
                                            &bull;&nbsp;<a style="color: #183666; font-weight: bold" href="@Url.Action("Index", "Litige")">@Resources.TTProjet.LitigeManagement</a>
                                        </li>
                                        <br>
                                    </ul>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="col-lg-4">
                        <div class="">
                            <div class="panel" style="border-radius: 10px; margin-left: -10px; height: 140px; ">
                                <div class="panel-body">
                                    <ul class="list-inline">                                        
                                        <li>
                                            &bull;&nbsp;<a style="color: #183666; " href="@Url.Action("Index", "ProjetSecuriser")">Gestion des projets sécurisés</a>
                                        </li>
                                        <br>
                                        <li>
                                            &bull;&nbsp;<a style="color: #183666;" href="@Url.Action("Index", "GestionGroupeAD")">Gestion Groupe AD</a>
                                        </li>
                                        <br>
                                        <li>
                                            &bull;&nbsp;<a style="color:#183666 ;" href="@Url.Action("Index", "LocalBPR")">@Resources.TTProjet.EmployeeInfos</a>
                                        </li>
                                        <br>
                                        <li>
                                            &bull;&nbsp;<a style="color: #183666" href="@Url.Action("Index3", "FolderStructure")">@Resources.TTProjet.Security60Conf</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        }

        <div class="row">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-primary" style="border-radius: 10px; margin-top: -10px; margin-left: -10px">
                        <div class="panel-body" style="margin:15px;">
                            <div class="row">
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4 style="margin-top: 0px; color:#183666; font-family: 'Arial Bold'; font-size: 18pt;">
                                        <b>@Resources.TTProjet.LitigeManagementInfos</b>
                                    </h4>
                                </div>

                            </div>
                            <br />
                            <div class="row" style="color:steelblue; font-size:initial">
                                <div class="form-group">
                                    <div class="col-sm-12 ">
                                        <div class="row">
                                            <div class="row form-group">
                                                <div class="col-lg-12">
                                                    <button type="button" class="btn btn-info" id="insertButton" onclick="openInsertModel()">
                                                        @LitigeResources.Litige.Insert
                                                    </button>
                                                    <div class="panel pagination-grey">

                                                        <br />
                                                        <div id="data-table_wrapper22" class="dataTables_wrapper form-inline dt-bootstrap no-footer">

                                                            <table id="data_litige" class=" table table-bordered  data-table  dataTable display" style="margin-top:-50px ;width:100%; font-size:12px">
                                                                <thead id="tableHeaderGP">
                                                                    <tr style="font-style:italic; "></tr>
                                                                    <tr class="grey" role="row">

                                                                        <th>
                                                                            @LitigeResources.Litige.projectNumber
                                                                        </th>
                                                                        <th class="sorting" tabindex="0" aria-controls="data-table" rowspan="1" colspan="1" aria-label="Date: activate to sort column ascending">
                                                                            @LitigeResources.Litige.addDate
                                                                        </th>
                                                                        <th class="sorting" tabindex="0" aria-controls="data-table" rowspan="1" colspan="1" aria-label="Date: activate to sort column ascending">
                                                                            @LitigeResources.Litige.comments
                                                                        </th>
                                                                        <th class="sorting" tabindex="0" aria-controls="data-table" rowspan="1" colspan="1" aria-label="Date: activate to sort column ascending">
                                                                            @LitigeResources.Litige.closedFile
                                                                        </th>
                                                                        <th class="sorting" tabindex="0" aria-controls="data-table" rowspan="1" colspan="1" aria-label="Date: activate to sort column ascending">
                                                                            @LitigeResources.Litige.Action
                                                                        </th>

                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @for (var i = 0; i < Model.projectListe.Count(); i++)
                                                                    {

                                                                        <tr>
                                                                            <td style="text-align: left;">
                                                                                @Model.projectListe[i].Project_Number
                                                                            </td>
                                                                            <td style="text-align: left;">
                                                                                @Model.projectListe[i].DateAdded
                                                                            </td>
                                                                            <td style="text-align: left;">
                                                                                @Model.projectListe[i].Comments
                                                                            </td>
                                                                            <td style="text-align: left;">
                                                                                @{
                                                                                    var dossierClos = Model.projectListe[i].Dossier_Clos == false ? "Non" : "Oui";
                                                                                }
                                                                                @dossierClos
                                                                            </td>
                                                                            <td style="text-align: left;">
                                                                                <div class="btn-toolbar" style="">
                                                                                    <button type="button" id="btnSubmit" class="btn btn-primary btn-sm " style=" padding: 0px 15px;" onclick="openEditModel('@Model.projectListe[i].Project_Number','@Model.projectListe[i].DateAdded','@Model.projectListe[i].Comments','@dossierClos', '@LitigeResources.Litige.Edit')"><span class="glyphicon glyphicon-edit"></span></button>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    }

                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>
</div>
<div class="modal" id="insertModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">@LitigeResources.Litige.Insert / @LitigeResources.Litige.Edit</h4>
                <button type="button" class="close" data-dismiss="modal" onclick="">&times;</button>
            </div>

            <div class="row">
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="alert alert-warning" id="error" hidden="hidden">
                        <button type="button" class="close" data-hide="alert">&times;</button>
                        <strong id="error"> </strong>
                    </div>

                    <div class="container">
                        <h3 id="insertNew"></h3>
                        <div class="col-sm-8">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-sm-3">@LitigeResources.Litige.projectNumber</label>
                                    <div class="input-group col-sm-6">
                                        <input type="text" class="form-control" id="projectNumber" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3">@LitigeResources.Litige.addDate</label>
                                    <div class="input-group date  col-sm-6" style="border-radius: 4px;">
                                        <input type="text" class="form-control" data-date-format="yyyy-mm-dd" id="addDate">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3">@LitigeResources.Litige.comments</label>
                                    <div class=" input-group col-sm-6">
                                        <input type="text" class="form-control" id="comments" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3">@LitigeResources.Litige.closedFile</label>
                                    <div class="input-group col-sm-6">
                                        <select class="form-control" id="closedFile">
                                            <option value="Oui">Oui</option>
                                            <option value="Non" selected>Non</option>
                                        </select>
                                    </div>
                                </div>
                            </form>

                        </div>

                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" id="actionButton" class="btn btn-info" onclick="actionButton()"></button>
                <button type="button" id="" class="btn btn-info" data-dismiss="modal" onclick="cancel()">@LitigeResources.Litige.cancel</button>

            </div>

        </div>
    </div>
</div>


<script>
    //$('#addDate').datepicker('setDate', 'now');
    var globalType= 'insert'
    $(document).ready(function () {
        $('#projectNumber').prop('disabled', false);
        $("#error").hide();
        $("#addDate").datepicker({
            dateFormat: 'yyyy-mm-dd',
        });

        $('#actionButton').text('@Html.Raw(LitigeResources.Litige.Insert)')
        $('#contentEditModal').html('');
        $('#projectNumber').val('')
        $('#addDate').val('')
        $('#comments').val('')
        $('#closedFile').val('Non')
        $('#insertNew').html('');
        $('#insertNew').html('@Html.Raw(LitigeResources.Litige.Insert)');

                $('#data_litige').DataTable({
            pageResize: true,


                pageLength: 10,
            select: true,
            scrollX: true,
            scrollY: $(window).height() <= 722 ? $(window).height() / 3.5 : $(window).height() / 2,
            scrollCollapse: true,
            language: {
                "url": '@Session["lang"].ToString()' == 'fr' ? "/Content/assets/French.json" : "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/English.json",
                select: {
                    rows: '@Session["lang"].ToString()' == 'fr' ? '' : ''
                }
            },
        });
 });

    function openEditModel(projectId, dateAdded, comment, closed, type) {
        globalType = 'edit'
       $('#insertNew').html('');
        $('#insertNew').html('@LitigeResources.Litige.Edit');
        $('#contentEditModal').html('');
        $('#contentEditModal').html(projectId);
        $('#projectNumber').val(projectId)
        $('#addDate').val(dateAdded)
        $('#comments').val(comment)
        $('#closedFile').val(closed)
$('#projectNumber').prop('disabled', true);
var text = '@Session["lang"].ToString()' == 'fr' ? 'Éditer' : '@LitigeResources.Litige.Edit'
        $('#actionButton').text(text)
        $("#error").hide();
         $('#insertModal').modal('show');

        }

    function cancel() {
        $('#insertModal').modal('hide');

    }

    function openInsertModel() {
        var d = new Date();
        var getTheMonth = d.getMonth() + 1
        if (getTheMonth < 10) {
            getTheMonth = '0' + getTheMonth
        }


        var strDate = d.getFullYear() + "-" + (getTheMonth ) + "-" + d.getDate();

        globalType = 'insert'
        $('#addDate').val(strDate);
        $('#insertNew').html('');
        $('#insertNew').html('@Html.Raw(LitigeResources.Litige.Insert)');
        $('#contentEditModal').html('');
        $('#projectNumber').val('')
        $('#comments').val('')
        $('#closedFile').val('Non')
$('#projectNumber').prop('disabled', false)
        $('#actionButton').text('@Html.Raw(LitigeResources.Litige.Insert)')
        $("#error").hide();
        $('#insertModal').modal('show');

    }
    function actionButton()
    {
        var projectNumber1 = $('#projectNumber').val()
        var dateAdded1 = $('#addDate').val()
        var comment1 = $('#comments').val()
        var closedFile1 = $('#closedFile').val()
        if (projectNumber1 != '' && dateAdded1 != '' && comment1 != '' && closedFile1 != '')
        {

        $.ajax({
            url: '@Url.Action("insertEditInLitige", "Litige")',
            type: 'GET',
            cache: false,
            async: false,
            data: {
                type: globalType,
                projectNumber: projectNumber1,
                dateAdded: dateAdded1,
                comment: comment1,
                closedFile: closedFile1
            },
            success: function (result) {
                var message = ''
                if (result[0] == '1') {
                    message = '@Session["lang"].ToString()' == 'fr' ?  'Insertion réussie!' : "Insertion was successfull!"
                }
                else if (result[0] == '2') {
                    message = '@Session["lang"].ToString()' == 'fr' ? "L'insertion a échoué...!" : "Insertion failed..."
                }
                else if (result[0] == '3') {
                    message = '@Session["lang"].ToString()' == 'fr' ? "L'édition a réussie!" : "Editing was successful!"
                }
                else if (result[0] == '4') {
                    message = '@Session["lang"].ToString()' == 'fr' ? "L'édition a échoué!" : "Insertion failed"
                }

                window.setTimeout(function () { location.reload() }, 500)
                alert(message)
            }
        });

        }
        else {
            $("#error").html('@LitigeResources.Litige.mandatoryFields');
            $("#error").show();
            setTimeout(function () {
                $('#error').fadeOut('slow');
            }, 1000
            );
        }

    }


</script>

