@using Resources = TetraTech.TTProjetPlus.Views.TTProjet
@using Resources2 = TetraTech.TTProjetPlus.Views.ListeOffres
@*@model List<TetraTech.TTProjetPlus.Data.Projet>*@
<style>
</style>

@{
    ViewBag.Title = "Admin TI";
}
<link href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>

<div id="loading">
    <img id="loadingGIF2" src="~/Content/assets/img/ajax-loader.gif" alt="Loading..." />
</div>

<div class="container " style="height: 200vh;width: 100%">
    <div class="main">

        @if (ViewBag.MenuVisible == "true")
        {
            <div class="row">
                <div class="row">
                    <div class="col-lg-4" style="padding-top: -49px;">
                        <div class="panel" style="border-radius: 10px; margin-left: -10px; height: 100px;">
                            <div class="panel-body">
                                <ul class="list-inline">
                                    <li><a style=" color:#183666;" href="@Url.Action("Index", "TTProjet" )">TT Projet +  /</a></li>
                                    <li><a style="color:#183666; font-weight: bold" href="@Url.Action("Index", "TTProjet", new { selectedPanel = "collapse8" })">Informations supplémentaires</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="">
                            <div class="panel" style="border-radius: 10px; margin-left: -10px; height: 100px; ">
                                <div class="panel-body">
                                    <ul class="">
                                        <li>
                                            <a style="color: #183666; font-weight: bold" href="@Url.Action("Index", "AdditionaInfo")">Liste des gestionnaires de projet et de programme</a>
                                        </li>
                                        <li>
                                            <a style="color: #183666; " href="@Url.Action("Index", "TDT_PSWListe_BD")">Liste des mots de passe pour les tables de taux</a>
                                        </li>
                                        <li>
                                            <a style="color:#183666 ; " href="@Url.Action("Index", "TDT_PSWPermission")">Liste des permissions pour les tables de taux</a>
                                        </li>
                                        <li>
                                            <a style="color: #183666; " href="@Url.Action("Index", "SaisieTemporaire")">Saisies temporaires</a>
                                        </li>


                                    </ul>
                                </div>
                            </div>

                        </div>

                    </div>
                    @*<div class="col-lg-4">
                            <div class="">
                                <div class="panel" style="border-radius: 10px; margin-left: -10px; height: 100px; ">
                                    <div class="panel-body">
                                        <ul class="list-inline">
                                            <li>
                                                &bull;&nbsp;<a style="color:#183666 " href="@Url.Action("Index", "SecurityProjectEquivalence")">Équivalence des projets</a>
                                            </li>
                                            <br>
                                            <li>
                                                &bull;&nbsp;<a style="color:#183666 ;" href="@Url.Action("Index", "Litige")">@Resources.TTProjet.LitigeManagement</a>
                                            </li>
                                            <br>
                                            <li>
                                                &bull;&nbsp;<a style="color:#183666 ;" href="@Url.Action("Index", "LocalBPR")">@Resources.TTProjet.EmployeeInfos</a>
                                            </li>
                                            <br>
                                            <li>
                                                &bull;&nbsp;<a style="color: #183666" href="@Url.Action("Index3", "FolderStructure")">@Resources.TTProjet.Security60Conf</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>

                        </div>*@

                </div>

            </div>

        }
        <div class="row">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-primary" style="border-radius: 10px; margin-top: -10px; margin-bottom: 10px; margin-left: -10px;">
                        <div class="panel-body" style="margin:15px;">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4 style="margin-top: 0px; color: #183666; font-family: 'Arial Bold'; font-size: 18pt; margin-left: 10px;">
                                        <b>Listes des  gestinonnaires de projet et de programme </b>@*@Resources.TTProjet.CPDisplay*@
                                    </h4>
                                </div>
                            </div>
                            <br />
                            <div class="row" style="color:steelblue; font-size:initial">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <select data-live-search="true" class="form-control selectpicker" id="typeList" data-size="15">
                                                <option value="BOTH" selected style="font-size:14px">@Resources.TTProjet.InfoType</option>
                                                <option value="cp">Gestionnaires de projet</option>
                                                @*@Resources.TTProjet.cp*@
                                                <option value="dir">Gestionnaires de programme </option>
                                                @*@Resources.TTProjet.dir*@
                                                <option value="both">Gestionnaires de projet et de programme</option>
                                                @*@Resources.TTProjet.both*@

                                            </select>
                                        </div>
                                        <div class="col-lg-2">
                                            <button class="btn btn-primary" id="cancelButton" onclick="displayInfo()">Afficher la liste</button>@*@Resources.TTProjet.displayInfos*@
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <br />
                            <div id="info">

                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>
<script>
    $(document).ready(function () {

        $('.selectpicker').selectpicker(
        );
    });


    function displayInfo() {
                $.ajax({
                url: '@Url.Action("displayInfo", "AdditionaInfo")',
                    type: 'GET',
                    cache: false,
                data: {
                    typeInfo: $('#typeList').val()
                },
                success: function (data)
                {
                    $('#info').html(data)
                }
            });
    }
</script>