@model TetraTech.TTProjetPlus.Models.searchModelForMasterProject
@using Resources = TetraTech.TTProjetPlus.Views.Home


@if (Model.listOfItems != null && Model.listOfItems.Count() > 0)
{
    <div id="data-table_wrapper3" class="dataTables_wrapper form-inline dt-bootstrap no-footer">

        <table id="data_SearchMasterProjectTable2" class="SearchMasterProject table table-bordered  data-table  dataTable" style="width: 100%">
            <thead id="tableHeader">
                <tr class="grey" role="row">

                    <th class="sorting" tabindex="0" aria-controls="data-table" rowspan="1" colspan="1" aria-label="Run ID: activate to sort column ascending">
                        @Resources.informations.mp_title
                    </th>
                    <th class="sorting" tabindex="0" aria-controls="data-table" rowspan="1" colspan="1" aria-label="Date: activate to sort column ascending">
                        @Resources.informations.mp_number
                    </th>
                    <th class="sorting" tabindex="0" aria-controls="data-table" rowspan="1" colspan="1" aria-label="Run ID: activate to sort column ascending">
                        @Resources.informations.mp_client
                    </th>
                    <th class="sorting" tabindex="0" aria-controls="data-table" rowspan="1" colspan="1" aria-label="Date: activate to sort column ascending">
                        @Resources.informations.mp_org
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.listOfItems)
                {

                    <tr>
                        <td style="text-align: left;">
                            @item.Name
                        </td>
                        <td style="text-align: left;">
                            @item.ProjectNumber
                        </td>
                        <td style="text-align: left;">
                            @item.ClientName
                        </td>
                        <td style="text-align: left;">
                            @item.Org
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
}

else
{
    if (Model == null)
    {
        @Html.Partial("Error")
    }
    else
    {
    <span>@Resources.informations.mp_null</span>
    }
}
<script>
    $(document).ready(function () {
        $('#data_SearchMasterProjectTable2').DataTable({
            "order": [[0, "asc"]],
            "language": {
                "url": '@Session["lang"].ToString()' == 'fr' ? "/Content/assets/French.json" : "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/English.json"
            }
        });

    });


    $('#data_SearchMasterProjectTable2 tbody tr  td').on('click', function () {

        $('#data_SearchMasterProjectTable2 tr').removeClass('selected');
        $(this).closest('tr').addClass('selected');

        projectNumber = ($(this).closest('tr').children()[1].textContent).trim();
    });

    $('#cancelProjectMgr').click(function () {
        ($('input[type=search]')[0]).value = "";
        $('#data_projectManagerName tr').removeClass('selected');
        $('#data_projectManagerName').DataTable().search('').draw();

    });

</script>


